In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pip install lxml

Collecting lxml
  Downloading lxml-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 48.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-5.1.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
df=pd.read_excel('Bengaluru_House_Data (1).xlsx')

In [4]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
df.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [6]:
df['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [7]:
#ordinal encoding
df['area_type'].replace({'Carpet  Area':0,'Plot  Area':1,'Built-up  Area':2,'Super built-up  Area':3},inplace=True)

In [8]:
df['area_type'].dtype

dtype('int64')

In [9]:
df['availability'].value_counts()

Ready To Move          10581
2024-12-18 00:00:00      307
2024-05-18 00:00:00      295
2024-04-18 00:00:00      271
2024-08-18 00:00:00      200
                       ...
2024-08-15 00:00:00        1
2024-01-17 00:00:00        1
2024-11-16 00:00:00        1
2024-01-16 00:00:00        1
2024-07-14 00:00:00        1
Name: availability, Length: 81, dtype: int64

In [10]:
df[df.duplicated()]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
971,3,Ready To Move,Haralur Road,3 BHK,NRowse,1464,3.0,2.0,56.0
1115,3,Ready To Move,Haralur Road,2 BHK,NaN,1027,2.0,2.0,44.0
1143,3,Ready To Move,Vittasandra,2 BHK,Prlla C,1246,2.0,1.0,64.5
1290,3,Ready To Move,Haralur Road,2 BHK,NaN,1194,2.0,2.0,47.0
1394,3,Ready To Move,Haralur Road,2 BHK,NaN,1027,2.0,2.0,44.0
...,...,...,...,...,...,...,...,...,...
13285,3,Ready To Move,VHBCS Layout,2 BHK,OlarkLa,1353,2.0,2.0,110.0
13299,3,2024-12-18 00:00:00,Whitefield,4 BHK,Prtates,2830 - 2882,5.0,0.0,154.5
13311,1,Ready To Move,Ramamurthy Nagar,7 Bedroom,NaN,1500,9.0,2.0,250.0
13313,3,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345,2.0,1.0,57.0
13319,3,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df[df.duplicated()]

Empty DataFrame
Columns: [area_type, availability, location, size, society, total_sqft, bath, balcony, price]
Index: []

In [13]:
df.drop(['availability','society'],axis=1,inplace=True)

In [14]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,3,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,1,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,2,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,3,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,3,Kothanur,2 BHK,1200,2.0,1.0,51.00

In [15]:
df.isnull().sum()

area_type       0
location        1
size           16
total_sqft      0
bath           73
balcony       605
price           0
dtype: int64

In [16]:
df.shape

(12791, 7)

In [17]:
df.dropna(inplace=True)

In [18]:
df.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [19]:
df['size'].value_counts()

2 BHK         4884
3 BHK         3940
4 Bedroom      747
3 Bedroom      515
1 BHK          513
4 BHK          474
2 Bedroom      313
5 Bedroom      257
6 Bedroom      169
1 Bedroom      104
7 Bedroom       68
8 Bedroom       65
5 BHK           36
9 Bedroom       29
6 BHK           23
7 BHK           16
1 RK            13
9 BHK            5
8 BHK            3
10 Bedroom       3
11 Bedroom       2
11 BHK           1
27 BHK           1
43 Bedroom       1
14 BHK           1
12 Bedroom       1
13 BHK           1
Name: size, dtype: int64

In [20]:
df['bhk']=df['size'].apply(lambda x:x.split(' ')[0])

In [21]:
df['bhk']=df['bhk'].astype(int)

In [22]:
df.dtypes

area_type       int64
location       object
size           object
total_sqft     object
bath          float64
balcony       float64
price         float64
bhk             int64
dtype: object

In [23]:
df['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [24]:
df['location'].value_counts()

Whitefield            497
Sarjapur  Road        352
Electronic City       285
Kanakpura Road        238
Thanisandra           226
                     ...
Milk Colony             1
Jaladarsini Layout      1
Sundara Nagar           1
Madanayakahalli         1
Abshot Layout           1
Name: location, Length: 1265, dtype: int64

In [25]:
df['total_sqft'].unique()

array([1056, 2600, 1440, ..., '1133 - 1384', 774, 4689], dtype=object)

In [26]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [27]:
df[~df['total_sqft'].apply(is_float)].head(5)

,area_type,location,size,total_sqft,bath,balcony,price,bhk
30,3,Yelahanka,4 BHK,2100 - 2850,4.0,0.0,186.000,4
122,3,Hebbal,4 BHK,3067 - 8156,4.0,0.0,477.000,4
137,3,8th Phase JP Nagar,2 BHK,1042 - 1105,2.0,0.0,54.005,2
165,3,Sarjapur,2 BHK,1145 - 1340,2.0,0.0,43.490,2
188,3,KR Puram,2 BHK,1015 - 1540,2.0,0.0,56.800,2

In [28]:
def convert_sqft_to_num(x):
    token=x.split('-')
    if len(token)==2:
        return (float(token[0])+float(token[1]))/2
    try:
        return float(x)
    except:
        return None

In [29]:
df2=df.copy()
df2['total_sqft']=df['total_sqft'].astype(str)
df2['total_sqft']=df2['total_sqft'].apply(convert_sqft_to_num)

In [30]:
df2['total_sqft']

0        1056.0
1        2600.0
2        1440.0
3        1521.0
4        1200.0
          ...
13312    1262.0
13314    1715.0
13315    3453.0
13317    1141.0
13318    4689.0
Name: total_sqft, Length: 12185, dtype: float64

In [31]:
df2['location'].value_counts()

Whitefield            497
Sarjapur  Road        352
Electronic City       285
Kanakpura Road        238
Thanisandra           226
                     ...
Milk Colony             1
Jaladarsini Layout      1
Sundara Nagar           1
Madanayakahalli         1
Abshot Layout           1
Name: location, Length: 1265, dtype: int64

In [32]:
df2['location']=df2['location'].apply(lambda x:x.strip())
location_stats=df2['location'].value_counts(ascending=False)

In [33]:
location_stats

Whitefield                 498
Sarjapur  Road             352
Electronic City            287
Kanakpura Road             238
Thanisandra                229
                          ...
Jayamahal Extension          1
Hallehalli                   1
Nagarbhavi  BDA Complex      1
Rajanna Layout               1
Abshot Layout                1
Name: location, Length: 1254, dtype: int64

In [34]:
location_stats.values.sum()

12185

In [35]:
location_stat_less_than_10=location_stats[location_stats<=10]

In [36]:
df2['location']=df2['location'].apply(lambda x:'other' if x in location_stat_less_than_10 else x)

In [37]:
len(df2['location'].unique())

228

In [38]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()

In [39]:
df3=pd.DataFrame(encoder.fit_transform(df2[['location']]).toarray(),columns=encoder.get_feature_names_out())

In [40]:
df2=pd.concat([df2,df3],axis=1)

In [41]:
df2.head()

,area_type,location,size,total_sqft,bath,balcony,price,bhk,location_1st Block Jayanagar,location_1st Phase JP Nagar,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
0,3.0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
df2.drop(['location','size'],axis=1,inplace=True)

In [43]:
df2.head()

,area_type,total_sqft,bath,balcony,price,bhk,location_1st Block Jayanagar,location_1st Phase JP Nagar,location_2nd Stage Nagarbhavi,location_5th Phase JP Nagar,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
0,3.0,1056.0,2.0,1.0,39.07,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,2600.0,5.0,3.0,120.00,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,1440.0,2.0,3.0,62.00,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,1521.0,3.0,1.0,95.00,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,1200.0,2.0,1.0,51.00,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
df2.isnull().sum()

area_type                      1003
total_sqft                     1045
bath                           1003
balcony                        1003
price                          1003
                               ...
location_Yelahanka             1003
location_Yelahanka New Town    1003
location_Yelenahalli           1003
location_Yeshwanthpur          1003
location_other                 1003
Length: 234, dtype: int64

In [45]:
df2.dropna(inplace=True)

In [46]:
df2.isnull().sum()

area_type                      0
total_sqft                     0
bath                           0
balcony                        0
price                          0
                              ..
location_Yelahanka             0
location_Yelahanka New Town    0
location_Yelenahalli           0
location_Yeshwanthpur          0
location_other                 0
Length: 234, dtype: int64

In [47]:
x=df2.drop('price',axis=1)
y=df2['price']

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.30,random_state=43)

In [50]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [51]:
from sklearn.svm import SVR
regressor=SVR()

In [52]:
regressor.fit(X_train,y_train)

SVR()

In [53]:
y_pred=regressor.predict(X_test)

In [55]:
from sklearn.metrics import r2_score,mean_squared_error

In [56]:
r2_score(y_test,y_pred)

0.028152739865180076

In [58]:
mean_squared_error(y_test,y_pred)

19432.868970712545

In [59]:
regressor1=SVR(kernel='poly')

In [60]:
regressor1.fit(X_train,y_train)

SVR(kernel='poly')

In [61]:
y_pred=regressor1.predict(X_test)

In [ ]:
r2_score(y_test,y_pred)